.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(44, 44, 44);
}

.language-code4d{color:#020202;font-weight:normal;font-size:90%;font-family:"Consolas",Consolas, monospace;background: #444 ;padding: 1em 0.5em 1em 0.8em;}
  .code4d pre{padding:0;}	
  .language-code4d .hljs-keyword{font-weight:bold;font-style:normal;color:rgb(104, 148, 108);}	
  .language-code4d .hljs-param{font-style:normal;font-weight:bold;color:#6447d6;}
  .language-code4d .hljs-locale{font-style:normal;color:rgb(149, 167, 233);}
  .language-code4d .hljs-interprocess{font-style:normal;color:#996038;}
  .language-code4d .hljs-command{font-style:normal;font-weight:bold;text-decoration:none;color:rgb(107, 207, 116);}
  .language-code4d .hljs-plugin{font-weight: bold; font-style:italic;color:rgb(212, 212, 212);text-decoration:none;}
  .language-code4d .hljs-constant{font-style:normal;text-decoration:underline;color:rgb(158, 106, 207);}
  .language-code4d .hljs-global{font-style:normal;color:#43713d;}
  .language-code4d .hljs-method{font-weight:bold;font-style:italic;color:#525db6;}
  .language-code4d .hljs-table{font-style:normal;color:#d88e44;}
  .language-code4d .hljs-field{font-style:normal;color:#da7e7e;}
  .language-code4d .hljs-comment{font-style:normal;color:#c4c2c2;}
  .language-code4d .hljs-string{font-style:normal;color:#ddd8d8;}
  .language-code4d .hljs-property{font-style:normal;color: rgb(192, 153, 127);}
  
  
  .language-code4d .hljs-table {border:solid #999999 1px;background:#eaeaea;width:100%;padding:0em;margin:0em;
  }

  .language-code4d .hljs-table thead{font-weight:bold;background:#cacaca;border:solid #999999 1px;}
  .language-code4d .hljs-table td{padding-left:1em;vertical-align:top;}
  .language-code4d .hljs-table thead a{color:rgb(230, 230, 230);text-decoration:none;}
  
  .language-code4d .codeSQL{color:#666666;font-weight:normal;font-size:1.15em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#dffcff;
    border:1px solid #6b684d;padding: 1em 0.5em 1em 1.5em;}
  
  .language-code4d .codePHP{color:#666666;font-weight:normal;font-size:1.15em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#dffcff;
    border:1px solid #e7e1ab;padding: 1em 0.5em 1em 1.5em;}
  
  .language-code4d .codeJS{color:#666666;font-weight:normal;font-size:1.15em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#dffcff;
    border:1px solid #e7e1ab;padding: 1em 0.5em 1em 1.5em;}
  
  .language-code4d .codeXML{color:#666666;font-weight:normal;font-size:1.15em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#dffcff;
    border:1px solid #e7e1ab;padding: 1em 0.5em 1em 1.5em;}
  
  .language-code4d .codeHTML{color:#666666;font-weight:normal;font-size:1em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#dffcff;
    border:1px solid #e7e1ab;padding: 1em 0.5em 1em 1.5em;}
  
  .language-code4d .codeCSS{color:#666666;font-weight:normal;font-size:1.15em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#dffcff;
    border:1px solid #e7e1ab;padding: 1em 0.5em 1em 1.5em;}
  
  .language-code4d .codeRAW{color:#666666;font-weight:normal;font-size:1.15em;font-family:"Courier New", Courier, monospace;margin-left:1em;background:#fafafa;
    border:1px solid #e7e1ab;padding: 1em 0.5em 1em 1.5em;}